<section id="programs" class="row" *ngIf="programs && programs.length > 1">
  <div *ngIf="wantGridMediaQuery.matches" id="programs-cards">
    <div class="card" *ngFor="let p of programs">
      <div class="card-content">
        <a [routerLink]="['/programs', p.id_program, 'observations']">
          <img
            class="d-block w-100"
            [src]="p.image || 'assets/default_taxon.jpg'"
            alt="Programme {{ p.title }}"
          />
        </a>
        <h3>{{ p.title }}</h3>
        <p [innerHTML]="p.html_long_desc" class="card-body"></p>
      </div>
      <a
        class="btn-big"
        [routerLink]="['/programs', p.id_program, 'observations']"
        fragment="observations"
        >{{ LabelPlatformEngage }}</a
      >
    </div>
  </div>

  <div *ngIf="!wantGridMediaQuery.matches" id="programs-carousel">
    <h2 i18n="Les programmes du moment">Les programmes du moment</h2>
    <ngb-carousel
      *ngIf="programs"
      #carousel
      [interval]="1000"
      [pauseOnHover]="pauseOnHover"
      (slide)="onSlide($event)"
    >
      <ng-template ngbSlide *ngFor="let p of programs; index as i; first as isFirst">
        <a [routerLink]="['/programs', p.id_program, 'observations']">
          <div class="programs-carousel-img-wrapper">
            <img
              class="d-block w-100"
              [src]="p.image || 'assets/default_taxon.jpg'"
              loading="lazy"
              alt="Programme {{ p.title }}"
            />
          </div>
        </a>
        <div class="carousel-caption">
          <h3>{{ p.title }}</h3>
          <p [innerHTML]="p.html_short_desc"></p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>
