<!-- Ajouter une observation -->
<div class="modal-header">
  <h4 class="modal-title" i18n>AJOUTER UNE OBSERVATION</h4>
  <button
    type="button"
    class="close rounded-0"
    i18n-aria-label
    aria-label="Close"
    (click)="data.service.close('Cross click')"
  >
    &times;
  </button>
</div>

<div class="modal-body pb-0">
  <app-obs-form [data]="data" (newObservation)="observationSubmitted($event)"></app-obs-form>
</div>

<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-default btn-big rounded-0"
    [disabled]="!form?.obsForm.valid"
    (click)="committed()"
    i18n="Valider l'observation"
  >
    Valider l'observation
  </button>
</div>
