.vscode/
.mypy_cache/
.pytest_cache/
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/
*.egg
.tox/
.coverage
.testmondata
cov.xml
*.png
*.svg
*.pstats
*.json
*.po
*.pot
old
.profile
geom_import.py.lprof
geozones-france-2019-0-json.tar.xz