__pycache__/
.angulardoc.json
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.env
.eslintcache
.grunt
.hypothesis/
.idea_modules/
.idea/
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.mypy_cache
.netrwhist
.next
.node_repl_history
.npm/
.nyc_output
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.venv/
.vscode/
_.vscode/
.webassets-cache
.yarn-integrity
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
*.code-workspace
*.cover
*.db
*.egg
*.egg-info/
*.iml
*.ipr
*.iws
*.log
*.log
*.manifest
*.mo
*.pid
*.pid.lock
*.pot
*.py[cod]
*.pyc
*.sage.py
*.seed
*.so
*.spec
*.tgz
*~
*$py.class
/backend/.vscode/
/backend/launch.sh
/backend/Pipfile
/backend/Pipfile.lock
/external_modules/*/data/*
/external_modules/gnc_*
/frontend/.vscode/
/frontend/src/conf/*.ts
/frontend/src/custom/custom.css
/frontend/ssl
/frontend/wallaby.js
/site
# !/backend/.vscode/launch.json
# !/backend/.vscode/tasks.json
# !/frontend/.vscode/launch.json
# !/frontend/.vscode/tasks.json
atlassian-ide-plugin.xml
bower_components
build/
celerybeat-schedule
cmake-build-*
com_crashlytics_export_strings.xml
config/default_config.toml
contrib/gnc_*
coverage
coverage.xml
crashlytics-build.properties
crashlytics.properties
db.sqlite3
develop-eggs/
dist/
dmypy.json
docs/_build
downloads/
eggs/
env.bak/
env/
ENV/
fabric.properties
htmlcov/
instance/
ipython_config.py
jspm_packages
lib-cov
lib/
lib64/
local_settings.py
logs
MANIFEST
media/
modules.xml
node_modules
nosetests.xml
npm-debug.log*
out
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
Pipfile
Pipfile.lock
profile_default/
sdist/
Session.vim
share/python-wheels/
tags
target/
typings/
var
var/
venv
venv.bak/
venv/
wheels/
yarn-debug.log*
yarn-error.log*
