attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
flasgger==0.9.5
Flask[async]==2.0.1
Flask-Admin==1.5.8
Flask-Cors==3.0.10
Flask-JWT-Extended==4.2.3
Flask-SQLAlchemy==2.5.1
GeoAlchemy2==0.9.1
geojson==2.5.0
idna==3.2
importlib-metadata==1.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
MarkupSafe==2.0.1
mistune==0.8.4
passlib==1.7.4
psycopg2-binary==2.9.1
PyJWT==2.4.0
pyrsistent==0.16.0
PyYAML==5.4
requests==2.25.1
Shapely==1.7.1
six==1.14.0
SQLAlchemy==1.4.20
toml==0.10.2
urllib3==1.26.6
Werkzeug==2.0.1
WTForms==2.3.3
zipp==3.1.0
