<nav class="navbar navbar-default navbar-expand-md fixed-top" role="navigation">
  <a
    class="navbar-brand"
    routerLink="home"
    routerLinkActive="active"
    aria-label="Citizenλ Home"
    (click)="collapsed = true"
  >
    <img
      src="assets/logo.png"
      class="d-inline-block align-top"
      alt="Citizen lambda logo"
    />
  </a>
  <button
    class="navbar-toggler collapsed"
    type="button"
    data-toggle="collapsed"
    data-target="#nav-menu"
    aria-controls="nav-menu"
    [attr.aria-expanded]="!collapsed"
    aria-label="Toggle navigation"
    (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>

  <div class="navbar-collapse align-top" [class.collapse]="collapsed" id="nav-menu">
    <ul class="nav navbar-nav navbar-center mx-auto">
      <li class="nav-item">
        <a
          routerLink="home"
          routerLinkActive="active"
          class="nav-link"
          (click)="collapsed = !collapsed"
          i18n
          >Accueil</a
        >
      </li>
      <ng-container *ngIf="programs$ | async as $programs">
        <li *ngIf="$programs?.length > 1" class="nav-item">
          <a
            class="nav-link"
            (click)="programs()"
            i18n
            >Les programmes</a
          >
        </li>
      </ng-container>
      <li *ngIf="isAdmin$ | async" class="nav-item">
        <a
          routerLink="/api/admin"
          routerLinkActive="active"
          class="nav-link"
          (click)="collapsed = !collapsed"
          i18n
          >Admin</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="about"
          routerLinkActive="active"
          class="nav-link"
          (click)="collapsed = !collapsed"
          i18n
          >A Propos</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" ngbDropdown>
        <ng-container *ngFor="let lang of languages">
          <a
            *ngIf="lang.code === localeId"
            class="nav-link"
            style="cursor: pointer"
            ngbDropdownToggle
            id="cultureDropDown"
            role="button"
            (click)="collapsed = !collapsed"
            >{{ lang.label }}</a
          >
        </ng-container>
        <div
          ngbDropdownMenu
          aria-labelledby="cultureDropDown"
          class="dropdown-menu dropdown-menu-right"
        >
          <ng-template ngFor let-lang [ngForOf]="languages">
            <a
              *ngIf="lang.code !== localeId"
              ngbDropdownItem
              [href]="base_href.replace('/' + localeId + '/', '/' + lang.code) + location"
              class="nav-link"
              (click)="collapsed = !collapsed"
              >{{ lang.label }}</a
            >
          </ng-template>
        </div>
      </li>
    </ul>
    <ul class="btn-group" id="auth" role="group" aria-label="auth">
      <ng-container *ngIf="isLoggedIn$() | async; then connected; else disconnected">
      </ng-container>
      <ng-template #connected>
        <li>
          <a
            placement="bottom"
            i18n-ngbTooltip
            ngbTooltip="Mon tableau de bord"
            routerLink="mydashboard"
            routerLinkActive="active"
            (click)="collapsed = !collapsed"
          >
            <i class="fa fa-fw fa-user-circle"></i> &nbsp;{{ username }}
          </a>
        </li>
        <li>
          <a
            class="my-2 my-sm-0"
            (click)="logout()"
            i18n
          >
            <i class="fa fa-fw fa-lock"></i> &nbsp;Se déconnecter
          </a>
        </li>
      </ng-template>
      <ng-template #disconnected>
        <li>
          <a
            class="btn my-2 my-sm-0 rounded-0"
            (click)="login()"
            i18n
          >
            Se connecter
          </a>
        </li>
        <li>
          <a
            class="btn my-2 my-sm-0 rounded-0"
            (click)="register()"
            i18n
          >
            S'inscrire
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
