<h1>A Propos</h1>
<p>Patrick J.R. Kappeler est un développeur logiciel certifié par l’état
(code RNCP 5927), spécialiste du langage Python et de son utilisation
dans le cadre du développement d’applications web.</p>

<p>Cette démonstration est basée sur un développement en open source et une mise à disposition
dont Patrick a eu la responsabilité, au sein d’une entreprise privée, entre
janvier et juin 2019.</p>

<p>Il s’agit d’une application client/serveur interactive,
intégrant différentes technologies de sécurisation des échanges
d’informations, d’exploitation et de maintenance de base de données
et d’interfaces utilisateurs pertinentes et conviviales.</p>

<p>Cette application est actuellement en production dans plusieurs
organismes de protection de l’environnement qui, en collaboration
avec Patrick, avaient exprimé des besoins fonctionnels à mettre à
disposition dans un environnement de temps réel, dont la couverture
s’étendrait au territoire national en y incluant les DOM-TOM.</p>

<h2>La démonstration – structure et scénario</h2>

<p>Différents programmes de campagne de collecte d’informations
à caractère écologique sont proposés, sur la base de la sélection d’un
périmètre géographique spécifique.</p>

<p>Le programme ayant été sélectionné, l’intervenant peut ajouter et
documenter une observation d’espèce particulière qu’il aura réalisée.</p>

<p>La documentation de cette observation consiste à:</p>
<ol>
    <li>décrire l’observation, en y joignant le cas éventuel, une ou plusieurs
        photos.</li>

    <li>localiser très précisément sur la carte satellite présentée le lieu de
        l’observation.</li>
</ol>

<p>L’ensemble des informations ainsi collectées sera conservé dans la base de
données de l’application serveur.</p>
