<div class="image-top-container">
  <img
    #img
    [style.max-width]="img?.height > img?.width ? 'auto' : '100%'"
    [style.max-height]="img?.height > img?.width ? '100%' : 'auto'"
    [src]="src ? src : 'assets/default_taxon.jpg'"
    (click)="fullViewPortToggle()"
  />
</div>
<div #fullViewPortContainer class="full-viewport-hidden" (click)="fullViewPortToggle()">
  <!-- <button type="button" class="close" i18n-aria-label aria-label="Close" (click)="closeZoom">
      <span aria-hidden="true">&times;</span>
    </button> -->
  <img
    [src]="img ? img.src : ''"
    [style.width]="img?.height > img?.width ? 'auto' : '100%'"
    [style.max-width]="img?.height > img?.width ? '100%' : 'auto'"
    [style.max-height]="img?.height > img?.width ? '100vh' : 'auto'"
  />
</div>
