<div class="modal-header">
  <h4 class="modal-title" id="modal-obs-details">
    Details Observation #{{ data?.id_observation }}
  </h4>
  <button
    type="button"
    class="close"
    i18n-aria-label
    aria-label="Close"
    (click)="modal?.close('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body d-flex flex-column pt-0 pl-0 pr-0 pb-0" *ngIf="taxon$ | async as taxon">
  <!-- FIXME: hardcoded backend media url -->
  <app-image-top
    [src]="
      data.images?.length
        ? config.API_ENDPOINT + '/media/' + data.images![0]
        : data.image
        ? data.image
        : taxon?.media && taxon?.media.length > 0
        ? (taxon?.media)[0].thumb_url
        : 'assets/default_taxon.jpg'
    "
    [alt]="
      !localeId.startsWith('fr') && !!taxon?.nom_vern_eng
        ? taxon?.nom_vern_eng
        : taxon?.nom_vern
        ? taxon?.nom_vern
        : taxon?.nom_valide
    "
    [imgMaxHeight]="imgMaxHeight"
  ></app-image-top>
  <div class="obs-added">
    <p>
      {{
        !localeId.startsWith('fr')
          ? !!taxon?.nom_vern_eng
            ? [taxon?.nom_vern_eng, taxon?.nom_vern].join(', ')
            : taxon?.nom_vern
          : [taxon?.nom_vern, taxon?.nom_vern_eng].join(', ')
      }}
    </p>
    <p i18n>Nom complet: {{ taxon?.nom_complet }}</p>
    <p i18n>Dénombrement: {{ data?.count }}</p>
    <p i18n>Date: {{ data?.date | date }}</p>
    <p *ngIf="data?.observer?.username" i18n>Observateur: {{ data?.observer?.username }}</p>
    <p *ngIf="!!data?.comment">{{ data?.comment }}</p>
    <!-- <p i18n>Statut: {{ taxon?.id_statut }}</p> -->
    <br />
    <ul style="text-align: left;">
      <li>
        <span i18n>Phylum: {{ taxon?.phylum }}</span>
      </li>
      <li>
        <ul>
          <li>
            <span i18n>Classe: {{ taxon?.classe }}</span>
          </li>
          <li>
            <ul>
              <li>
                <span i18n>Ordre: {{ taxon?.ordre }}</span>
              </li>
              <li>
                <ul>
                  <li>
                    <span i18n>Famille: {{ taxon?.famille }}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <!-- <p i18n>cd_nom: {{ taxon?.cd_nom }}</p>
<p i18n>cd_ref: {{ taxon?.cd_ref }}</p>
<p i18n>cd_sup: {{ taxon?.cd_sup }}</p> -->
    <!-- <p>{{ taxon | json }}</p> -->
    <br />
    <p i18n>Découvrir sur INPN:</p>
    <ul>
      <li>
        <a
          rel="noopener"
          target="_blank"
          [href]="['https://inpn.mnhn.fr/espece/cd_nom', taxon?.cd_nom].join('/')"
          i18n
          >le taxon</a
        >
      </li>
      <li *ngIf="taxon?.cd_nom != taxon?.cd_ref">
        <a
          rel="noopener"
          target="_blank"
          [href]="['https://inpn.mnhn.fr/espece/cd_nom', taxon?.cd_ref].join('/')"
          i18n
          >le taxon de référence</a
        >
      </li>
      <!-- <li>
    <a
      rel="noopener" target="_blank"
      [href]="['https://inpn.mnhn.fr/espece/cd_nom', taxon?.cd_sup].join('/')"
      i18n
      >le taxon supérieur</a
    >
  </li> -->
    </ul>
    <ng-container *ngIf="canShare()">
      <br />
      <app-webshare [data]="sharedData" (click)="setupShare()" i18n>
        <i class="fa fa-share-alt" aria-hidden="true"></i> Partager</app-webshare
      >
    </ng-container>
  </div>
</div>
