<ng-template #wwwwcard>
  <div class="species" *ngIf="taxon$ | async as taxon; else loading">
    <!-- FIXME: hardcoded api media endpoint -->
    <!-- TODO: mv complex template expressions to controller method -->
    <img
      [src]="
    data && !!data.images && !!data.images?.length
        ? AppConfig.API_ENDPOINT + '/media/' + data.images[0]
        : data.image
        ? data.image
        : taxon?.media && !!taxon?.media.length
        ? taxon?.media[0].thumb_url
        : 'assets/default_taxon.jpg'
        "
      [alt]="(!localeId.startsWith('fr') && !!taxon?.nom_vern_eng) ? taxon?.nom_vern_eng : taxon?.nom_vern ? taxon?.nom_vern : taxon?.nom_valide"
      loading="lazy"
      width="80px"
      height="80px"
    />
    <div class="infos">
      <b
        >{{ (!localeId.startsWith('fr') && !!taxon?.nom_vern_eng) ? taxon?.nom_vern_eng :
        taxon?.nom_vern ? taxon?.nom_vern : taxon?.nom_valide }}</b
      >
      <p i18n>
        Observé par
        <span
          >{{ data?.observer?.username ? data.observer.username : localeId.startsWith('fr') ?
          'Anonyme' : 'Anonymous' }}</span
        >
      </p>
      <p i18n *ngIf="data?.date || data?.municipality?.name">
        <span *ngIf="data.date"> le {{ data.date | date }}</span>
        <span *ngIf="data.municipality?.name"> à {{ data.municipality?.name }} </span>
      </p>
    </div>
    <div class="hide"><i class="fa fa-search" style="font-size: 20px;"></i></div>
  </div>
</ng-template>
<ng-template #loading>
  <div><i class="fa fa-spinner fa-spin"></i>Loading …</div>
</ng-template>

<ng-container *ngTemplateOutlet="popupTemplate? popupTemplate : wwwwcard"></ng-container>
