popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#obsMap {
  /* FIXME: account for 30px offset footer presence */
  height: calc(100vh - var(--router-outlet-offset) - 30px);
  margin-left: var(--list-toggler-width);
  width: calc(100% - var(--list-toggler-width));
}

.marker-cluster {
  background-image: url(/assets/marker2.svg);
}

.marker-cluster span {
  color: var(--primary);
  font-size: 0.9em;
  font-weight: bold;
  line-height: 45px;
}

.marker-cluster-small {
  background-color: rgba(254, 250, 245, 0.1);
}

.marker-cluster-small div {
  background-color: rgba(254, 250, 245, 0.1);
}

.marker-cluster-medium {
  background-color: rgba(254, 250, 245, 0.1);
}

.marker-cluster-medium div {
  background-color: rgba(254, 250, 245, 0.1);
}

.marker-cluster-large {
  background-color: rgba(254, 250, 245, 0.1);
}

.marker-cluster-large div {
  background-color: rgba(254, 250, 245, 0.1);
}

a.leaflet-control-layers-toggle {
  /* Should inherit leaflet-bar sizes */
  width: 30px !important;
  height: 30px !important;
}

.leaflet-bottom.leaflet-left,
.leaflet-bottom.leaflet-right {
  margin-bottom: 0;
}

.leaflet-bottom .leaflet-control-zoomviewer,
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 0;
  margin-left: 0;
  max-height: fit-content;
}

.leaflet-bottom .leaflet-control-zoomviewer {
  transform: translateY(-50%);
}

.leaflet-control-layers-base,
.leaflet-control-layers-overlays {
  max-height: 12em;
  overflow-y: scroll;
  padding: 0.4em;
}

@media screen and (max-width: 991px) {
  .btn-group .btn-big {
    opacity: 1 !important;
  }

  #obsMap {
    margin: 0;
    width: 100%;
    max-height: 40vh;
  }

  #map {
    width: 100%;
    max-height: 40vh;
  }
}
