<div class="container-fluid">
  <!-- LA PLATEFORME -->
  <app-greeter *ngIf="(facade.programs$ | async)?.length === 1"></app-greeter>

  <!-- LE PROGRAMME -->
  <section id="program-teaser" class="row">
    <app-program-teaser [program]="facade.program$ | async"></app-program-teaser>
  </section>
  <section id="program-content" class="row">
    <app-program-content [program]="facade.program$ | async"></app-program-content>
  </section>
  <!-- LES OBSERVATIONS -->
  <section id="observations" class="observations row">
    <input id="slide-sidebar" type="checkbox" role="button" (click)="onListToggle()" />
    <label class="toggle" for="slide-sidebar"><i class="fa fa-chevron-left"></i></label>

    <div class="side-bar" id="obslist">
      <div class="toolbar">
        <select
          #inputSpecies
          id="inputSpecies"
          name="inputSpecies"
          class="form-control rounded-0 col-lg-6"
          [(ngModel)]="facade.selectedTaxonId"
          (ngModelChange)="facade.onFilterChange()"
          i18n-aria-label
          aria-label="Toutes espèces"
        >
          <option selected [ngValue]="0" selected i18n>Toutes espèces</option>
          <ng-container *ngIf="!facade.configGroupBy; else optiongroupmenu">
            <option *ngFor="let t of facade.sampledTaxonomy$ | async" [ngValue]="t?.cd_nom">
              <span>{{
                !localeId.startsWith('fr') && t?.nom_vern_eng.length > 0
                  ? t?.nom_vern_eng
                  : t?.nom_vern
                  ? t?.nom_vern
                  : t?.nom_valide
              }}</span>
              (<i>{{ t?.nom_complet }}</i
              >)
            </option>
          </ng-container>
          <ng-template #optiongroupmenu>
            <optgroup
              *ngFor="let c of $any(facade.sampledTaxonomy$ | async) | keyvalue"
              [label]="c?.key"
            >
              <option *ngFor="let s of c?.value" [ngValue]="s?.cd_nom">
                <span>{{
                  !localeId.startsWith('fr') && !!s?.nom_vern_eng
                    ? s?.nom_vern_eng
                    : s?.nom_vern
                    ? s?.nom_vern
                    : s?.nom_valide
                }}</span>
                (<i>{{ s?.nom_complet }}</i
                >)
              </option>
            </optgroup>
          </ng-template>
        </select>

        <select
          #municipality
          id="municipality"
          name="municipality"
          class="form-control rounded-0 col-lg-6"
          [(ngModel)]="facade.selectedMunicipality"
          (ngModelChange)="facade.onFilterChange()"
          i18n-aria-label
          aria-label="Toutes communes"
        >
          <option selected [ngValue]="null" i18n>Toutes communes</option>
          <option *ngFor="let t of facade.municipalities$ | async" [ngValue]="t">{{
            t?.name || '?'
          }}</option>
        </select>
      </div>
      <div class="obs-count">
        <!-- TODO: loading => recherche… -->
        <p i18n>
          {{ (facade.filteredObservations$ | async)?.length | number }} {
          +(facade.filteredObservations$ | async)?.length, plural, =0 { observation trouvée } =1 {
          observation trouvée !} other { observations trouvées !} }
        </p>
      </div>
      <app-obs-list
        #obsListRef
        [observations]="{
          type: 'FeatureCollection',
          features: facade.filteredObservations$ | async
        }"
        [taxonomy]="facade.sharedContext.taxa"
        (obsSelected)="onObsSelected($event)"
      ></app-obs-list>
    </div>

    <div class="map" id="map">
      <app-obs-map
        #thematicMapRef
        [observations]="{
          type: 'FeatureCollection',
          features: facade.filteredObservations$ | async
        }"
        [program]="facade.sharedContext.program"
        [taxonomy]="facade.sharedContext.taxa"
        (obsSelected)="onObsSelected($event)"
        (detailsRequested)="onDetailsRequested($event)"
      ></app-obs-map>
      <div class="btn-groups">
        <div class="btn-group">
          <app-modalflow [data]="facade.sharedContext"
            ><span class="d-md-block d-sm-block d-xs-block d-lg-none d-xl-none">＋</span>
            <span class="d-lg-block d-xl-block d-none">{{ AddAnObservationLabel }}</span>
          </app-modalflow>
          <!-- <button class="btn-big">Réaliser un programme</button> -->
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>
