<div class="container-fluid">
  <!-- LA PLATEFORME -->
  <app-greeter *ngIf="programs?.length === 1"></app-greeter>

  <!-- LE PROGRAMME -->
  <section id="program-teaser" class="row">
    <app-program-teaser [program]="program"></app-program-teaser>
  </section>
  <section id="program-content" class="row">
    <app-program-content [program]="program"></app-program-content>
  </section>
  <!-- LES OBSERVATIONS -->
  <section id="observations" class="observations row">
    <input id="slide-sidebar" type="checkbox" role="button" (click)="onListToggle()" />
    <label class="toggle" for="slide-sidebar"><i class="fa fa-chevron-left"></i></label>

    <div class="side-bar" id="obslist">
      <div class="toolbar">
        <select
          #inputSpecies
          class="form-control rounded-0"
          id="inputSpecies"
          [(ngModel)]="selectedTaxon"
          (ngModelChange)="onFilterChange()"
          i18n-aria-label
          aria-label="Toutes espèces"
        >
          <option [ngValue]="null" i18n>Toutes espèces</option>
          <ng-container *ngIf="!ObsConfig.FEATURES.taxonomy.GROUP; else optgroupmenu">
            <option *ngFor="let s of sampledTaxonomy$ | async | keyvalue" [ngValue]="s.value.cd_nom">
              <span>{{
                !localeId.startsWith('fr') && !!s?.value?.nom_vern_eng
                  ? s?.value?.nom_vern_eng
                  : s?.value?.nom_vern
                  ? s?.value?.nom_vern
                  : s?.value?.nom_valide
              }}</span>
              (<i>{{ s?.value?.nom_complet }}</i
              >)
            </option>
          </ng-container>

          <ng-template #optgroupmenu>
            <optgroup *ngFor="let t of sampledTaxonomy$ | async | keyvalue" [label]="t.key">
              <option *ngFor="let s of t.value | keyvalue" [ngValue]="s.value.cd_nom">
                <span>{{
                  !localeId.startsWith('fr') && !!s?.value?.nom_vern_eng
                    ? s?.value?.nom_vern_eng
                    : s?.value?.nom_vern
                    ? s?.value?.nom_vern
                    : s?.value?.nom_valide
                }}</span>
                (<i>{{ s?.value?.nom_complet }}</i
                >)
              </option>
            </optgroup>
          </ng-template>
        </select>

        <select
          #municipality
          id="municipality"
          name="municipality"
          type="text"
          class="form-control rounded-0 col-lg-6"
          [(ngModel)]="selectedMunicipality"
          (ngModelChange)="onFilterChange()"
          i18n-aria-label
          aria-label="Toutes communes"
        >
          <option [ngValue]="null" i18n>Toutes communes</option>
          <option *ngFor="let t of municipalities$ | async" [ngValue]="t">{{
            t?.name || '?'
          }}</option>
        </select>
      </div>
      <div class="obs-count">
        <!-- TODO: loading => recherche… -->
        <p i18n>
          {{ (filteredObservations$ | async)?.length }} { +(filteredObservations$ | async)?.length,
          plural, =0 { observation trouvée } =1 { observation trouvée !} other { observations
          trouvées !} }
        </p>
      </div>
      <app-obs-list
        #obsListRef
        [observations]="{
          type: 'FeatureCollection',
          features: filteredObservations$ | async
        }"
        [taxonomy]="context.taxa"
        (obsSelected)="cartogramRef.showPopup($event)"
      ></app-obs-list>
    </div>

    <div class="map" id="map">
      <app-obs-map
        #cartogramRef
        [observations]="{
          type: 'FeatureCollection',
          features: filteredObservations$ | async
        }"
        [program]="context.program"
        [taxonomy]="context.taxa"
      ></app-obs-map>
      <div class="btn-groups">
        <div class="btn-group">
          <app-modalflow [data]="context"
            ><span class="d-md-block d-sm-block d-xs-block d-lg-none d-xl-none">＋</span>
            <span class="d-sm-none d-md-none d-lg-block d-xl-block">{{
              AddAnObservationLabel
            }}</span>
          </app-modalflow>
          <!-- <button class="btn-big">Réaliser un programme</button> -->
        </div>
      </div>
    </div>
  </section>
</div>
