<ng-container *ngIf="observations$ | async as obs; else loading">
  <cdk-virtual-scroll-viewport [itemSize]="84" id="list">
    <div
      *cdkVirtualFor="let o of obs; trackBy: trackByObs"
      class="species obs-{{ o?.properties?.id_observation }}"
      (click)="onSelected(o)"
      (keyup)="onSelected(o)"
    >
      <ng-container *ngIf="taxonService.getTaxon(o?.properties?.cd_nom) | async as taxon">
        <!-- mv to ng-template, refact with map popup, ngTemplateOutlet with implicit context -->
        <!-- FIXME: hardcoded api media endpoint -->
        <!-- TODO: mv to controller method -->
        <img
          [src]="
            o && o.properties && o.properties.images && !!o.properties.images.length
              ? AppConfig.API_ENDPOINT + '/media/' + o.properties.images[0]
              : o.properties.image
              ? o.properties.image
              : taxon?.media && !!taxon.media.length
              ? taxon.media[0].thumb_url
              : 'assets/default_taxon.jpg'
          "
          [alt]="
            !localeId.startsWith('fr') && !!taxon?.nom_vern_eng
              ? taxon?.nom_vern_eng
              : taxon?.nom_vern
              ? taxon?.nom_vern
              : taxon?.nom_valide
          "
          loading="lazy"
        />
        <div class="infos">
          <!-- TODO: mv to controller method -->
          <b>{{
            !localeId.startsWith('fr') && !!taxon?.nom_vern_eng
              ? taxon?.nom_vern_eng
              : taxon?.nom_vern
              ? taxon?.nom_vern
              : taxon?.nom_valide
          }}</b>
          <p i18n>
            Observé par
            <span>{{
              o.properties.observer?.username
                ? o.properties.observer.username
                : localeId.startsWith('fr')
                ? 'Anonyme'
                : 'Anonymous'
            }}</span>
          </p>
          <!-- TODO: mv to controller method -->
          <p i18n *ngIf="o.properties.date || o.properties.municipality?.name">
            <span *ngIf="o.properties.date"> le {{ o.properties.date | date }}</span>
            <span *ngIf="o.properties.municipality?.name">
              à {{ o.properties.municipality?.name }}</span
            >
          </p>
        </div>
        <div class="hide"><img src="assets/binoculars.svg" alt="binoculars" /></div>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-container>
<!-- TODO: withLoadingPipe -->
<ng-template #loading>
  <div><i class="fa fa-spinner fa-spin"></i>Loading …</div>
</ng-template>
