<form id="obsForm" [formGroup]="obsForm" (ngSubmit)="onFormSubmit()">
  <input formControlName="id_program" type="hidden" />
  <div class="form-row">
    <div class="form-group col-lg-8">
      <h5 class="m-0">
        <label for="cd_nom" i18n class="m-0"
          >Rechercher ou s&eacute;lectionner une esp&egrave;ce</label
        >
      </h5>
    </div>

    <div class="form-group col-lg-12">
      <app-taxon-picker
        id="taxon_id"
        class="form-group required form-control rounded-0"
        formControlName="taxon_id"
        [taxa]="taxa"
        required
      ></app-taxon-picker>
      <!-- (taxonSelected)="onTaxonSelected($event)" -->
    </div>
    <!-- END TAXON SELECTION -->
    <div class="form-group col-lg-6 col-md-12 half">
      <h5 i18n>Informations complémentaires</h5>
      <div class="row">
        <!-- DATE -->
        <app-date
          [parentForm]="obsForm"
          [disabledNgbDates]="disabledNgbDates"
          [specialDay]=""
          class="form-group col pl-0"
        ></app-date>
        <!-- COUNTING -->
        <div class="form-group col-4">
          <label for="counting" class="d-block text-truncate" i18n>Dénombrement</label>
          <input
            type="number"
            min="1"
            i18n-placeholder
            placeholder="Nombre"
            data-bind="value:replyNumber"
            class="required form-control rounded-0"
            formControlName="count"
            id="counting"
            required
          />
        </div>
      </div>
      <div class="row">
        <!-- COMMENT -->
        <app-form-comment
          [parentForm]="obsForm"
          [default]=""
          class="form-group col p-0"
        ></app-form-comment>
        <!-- PHOTO -->
        <app-form-photo
          formControlName="photo"
          [ngClass]="{ disabled: obsForm.get('photo')?.disabled }"
          class="form-group col-4"
          [onLatLon]="onLatLon"
          [multiple]="false"
        ></app-form-photo>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-12 half">
      <h5 i18n>Où avez-vous observé cette espèce ?</h5>
      <!-- MAP -->
      <app-obs-form-map
        [parentForm]="obsForm"
        [hasZoomAlert]="hasZoomAlert"
        [coords]="data?.coords"
        [program]="data?.program"
        (output)="onMapClick($event)"
        class="row required"
        [class.ng-invalid]="obsForm.get('geometry')?.invalid"
        [class.ng-valid]="obsForm.get('geometry')?.valid"
      >
      </app-obs-form-map>

      <p class="text-right m-0">
        <em i18n>Cliquez sur la carte pour renseigner le lieu précis de votre observation</em>
      </p>
    </div>
    <!-- <p class="ng-invalid pl-1 ml-1">Champs manquants</p> -->
  </div>
</form>

<div class="alert alert-primary rounded-0" role="alert">
  {{ _obsFormDebug() | json }}
</div>
<!-- {{ obsForm.value | json }} -->
